@import 'head3d';
@import 'smiley';

body {
    margin: 0;
    padding: 0;
}

.containers {
    display: flex;
    justify-content: center;
}

.invisible {
    display: none !important;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .image {
        width:400px;
        height:auto;
    }

    .canvas {
        position: absolute;
    }
}

#video-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    #video {
        background:black;
    }

    .canvas {
        position: absolute;
    }
}

#output-container {
    background-image: linear-gradient(violet, red);

    #world-container {
        perspective: px2rem(800);
        width:100%;
        height:100%;
    }

    #world {
        position: absolute;
        transform-style: preserve-3d;
        width: px2rem(720);
        height: px2rem(560);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.maximized {
    position: absolute;
    width:100vw;
    height:100vh;
}

.minimized {
    position: relative;
    width:px2rem(720);
    height:px2rem(560);
}

